body {
  background-color: #f1f3f7;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 10px;
  margin: 0;
  line-height: 1.35; }

html {
  overflow-x: hidden;
  overflow-y: auto; }

html * {
  box-sizing: border-box; }

h1, h2, h3 {
  font-family: "Roboto Slab", sans-serif; }

h1 {
  font-size: 12em;
  font-weight: 300; }

h2 {
  font-size: 5em; }

h3 {
  font-size: 3em;
  font-weight: 300;
  letter-spacing: -0.03em; }

p {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.4em; }

p.small {
  font-size: 1.1em; }

a {
  color: #334fff;
  text-decoration: none; }

a:hover {
  color: #667bff; }

code {
  font-family: "Inconsolata", monospace;
  display: inline-block;
  font-size: 0.9em;
  padding: 0 3px; }

section {
  padding-top: 40px; }

section h1 {
  position: relative;
  font-size: 2em;
  font-weight: 700; }
  section h1 .param {
    font-weight: 400;
    font-size: 12px;
    font-family: "Inconsolata", monospace;
    color: #556070; }
section h2 {
  font-size: 1.4em;
  font-weight: 400;
  font-family: "Helvetica Neue", Helvetica, sans-serif; }
section.element > h1 {
  font-weight: 300;
  font-size: 4.5em;
  color: #334fff; }
section.element > h3 {
  font-size: 2em;
  color: #8899aa;
  letter-spacing: 0.01em; }
section .param > em, section .return > em, section .eg > em, section .demo > em {
  font-family: "Inconsolata", monospace;
  display: inline-block;
  vertical-align: top;
  color: #8899aa;
  width: 80px;
  font-size: 1.1em;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  margin-top: 0.4em; }
section .param > .p, section .return > .p, section .eg > .p, section .demo > .p {
  display: inline-block;
  vertical-align: top;
  color: #222;
  width: 400px;
  margin-top: 0; }
section .param > .group, section .return > .group, section .eg > .group, section .demo > .group {
  display: inline-block;
  vertical-align: top;
  color: #222;
  width: 320px;
  margin-top: 0; }
  section .param > .group > p, section .return > .group > p, section .eg > .group > p, section .demo > .group > p {
    margin-top: 0; }
section .demo {
  position: relative; }
  section .demo .demo-arrow {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: #f00; }

section.inherited ul {
  margin: 0 0 1em;
  padding: 0;
  font-size: 1.5em; }
  section.inherited ul li {
    display: inline-block;
    font-family: "Inconsolata", monospace;
    list-style: none; }
    section.inherited ul li a {
      color: #334455; }
    section.inherited ul li a:hover {
      color: #334fff; }
    section.inherited ul li:after {
      content: ', ';
      margin-right: 5px; }
    section.inherited ul li:last-child:after {
      content: ''; }
    section.inherited ul li.label {
      display: block;
      color: #8899aa;
      font-size: 0.6em;
      text-transform: uppercase; }
    section.inherited ul li.label:after {
      content: ''; }

.eg code {
  display: block; }

.param .group code {
  padding-right: 5px;
  padding-left: 0; }

#head {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1; }

#header {
  position: absolute;
  z-index: 3;
  height: 30px;
  left: 0;
  right: 0;
  top: -50px;
  background-color: #fff;
  border-bottom: 1px solid #334fff;
  transition: top .4s; }

.sticky-step1 #header {
  position: fixed;
  top: 0; }

#pt {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 20vh;
  z-index: 1; }

#page {
  position: relative;
  z-index: 2;
  background-color: #fff;
  border-top: 1px solid #334fff;
  margin-top: 100vh; }

#content {
  margin-left: 300px;
  padding: 30px 50px;
  width: 550px;
  background-color: #fff;
  transition: background-color .5s; }
  #content section h1 {
    line-height: 1; }

#menu {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  float: left;
  margin-top: 100px;
  width: 300px;
  height: 2500px;
  padding: 30px;
  background-color: #fff;
  position: relative;
  transition: background-color .5s, margin-top .5s;
  font-size: 1.3em;
  line-height: 1.5; }
  #menu > ul {
    width: 120px;
    overflow-x: hidden; }
  #menu ul {
    margin: 0;
    padding: 0; }
    #menu ul li {
      margin: 0;
      padding: 0;
      list-style: none; }
    #menu ul.depth-1 {
      margin: 10px 0;
      border-left: 1px solid #ddd;
      padding-left: 10px;
      font-weight: 400; }
    #menu ul.depth-0 > li {
      margin: 10px 0;
      font-weight: 700; }
    #menu ul.depth-2 > li {
      margin: 15px 0;
      font-weight: 400; }
  #menu a {
    color: #334455;
    text-decoration: none; }
    #menu a:hover {
      color: #334fff; }
  #menu #submenu {
    position: absolute;
    top: 30px;
    left: 150px;
    width: 150px;
    padding: 10px 5px 20px 20px;
    border-left: 1px solid #334fff;
    font-weight: 400;
    font-size: 0.85em; }
    #menu #submenu .subsection {
      margin-bottom: 30px;
      overflow-x: hidden; }
    #menu #submenu .subitem {
      display: block;
      margin-bottom: 5px; }
    #menu #submenu h4 {
      text-transform: uppercase;
      font-weight: 400;
      color: #8899aa;
      margin: 0 0 10px; }

.sticky-step1 #menu {
  position: fixed;
  top: 30px;
  left: 0px;
  bottom: 0px;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 0; }

#pt {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background-color: #334fff; }

.sticky-step1 #pt {
  position: fixed;
  display: block;
  left: 850px;
  bottom: 0; }

#mask {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0%;
  right: 0;
  bottom: 0;
  background: #fff;
  transition: right .3s;
  display: none; }

.sticky-step1 #mask {
  display: block; }

.sticky-step1 .active #mask {
  right: 100%; }
