$link: #334fff;
$link-hover: #4a11df;
$link-menu: #345;
$link-hover: darken( $link, 15 );
$grey-medium: #89a;
$grey-dark: #678;

$bg: #f1f3f7;

$contentW: 550px;
$menuW: 300px;

$sans:  'Helvetica Neue', Helvetica, sans-serif;
$slab: "Roboto Slab", sans-serif;
$monospace: 'Inconsolata', monospace;

body {
  background-color: $bg;
  font-family: $sans;
  font-size: 10px;
  margin: 0;
  line-height: 1.35;
}

html {
  overflow-x: hidden;
  overflow-y: auto;
}

html * {
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: $slab;
}

h1 {
  font-size: 12em;
  font-weight: 300;
}

h2 {
  font-size: 5em;
}

h3 {
  font-size: 3em;
  font-weight: 300;
  letter-spacing: -0.03em;
}


p {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.4em;
}

p.small {
  font-size: 1.1em;
}

a {
  color: $link;
  text-decoration: none;
}

a:hover { color: $link-hover; }

code {
  font-family: $monospace;
  display: inline-block;

  font-size: 0.9em;
  padding: 0 3px;
}


section {

  padding-top: 40px;
  position: relative;

  h1 {
    position: relative;
    font-size: 2em;
    font-weight: 700;
    .param {
      font-weight: 400;
      font-size: 12px;
      font-family: $monospace;
      color: $grey-dark;
    }
  }

  h2 {
    font-size: 1.4em;
    font-weight: 400;
    font-family: $sans;
  }

  &.element, &.intro {
    > h1 {
      font-weight: 300;
      font-size: 4.5em;
      color: $link;
    }

    > h3 {
      font-size: 2em;
      color: $grey-medium;
      letter-spacing: 0.01em;
    }
  }

  .param, .return, .eg, .demo {

    > em {
      font-family: $monospace;
      display: inline-block;
      vertical-align: top;
      color: $grey-medium;
      width: 80px;
      font-size: 1.1em;
      font-style: normal;
      text-transform: uppercase;
      letter-spacing: 0.02em;
      margin-top: 0.4em;
    }

    > .p {
      display: inline-block;
      vertical-align: top;
      color: #222;
      width: 400px;
      margin-top: 0;
    }

    > .group {
      display: inline-block;
      vertical-align: top;
      color: #222;
      width: 320px;
      margin-top: 0;

      > p {
        margin-top: 0;
      }
    }
  }

  .demo {
    $demoSize: 250px;
    position: absolute;
    width: $demoSize; height: $demoSize; margin-right: -$demoSize - 70;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    top: 60px;
    right: 0;
    border: 20px solid #f3f5f9;
    transition: border-color .3s, width .3s, height .3s, margin-right .3s;
    cursor: pointer;

    &:hover {
      $demoSize: 350px;
      border-color: #e1e9f3;
      width: $demoSize; height: $demoSize; margin-right: -$demoSize - 70;
      z-index: 10;
    }
  }
}


section.inherited ul {
  margin: 0 0 1em;
  padding: 0;
  font-size: 1.5em;

  li {
    display: inline-block;
    font-family: $monospace;
    list-style: none;

    a { color: $link-menu; }
    a:hover { color: $link; }

    &:after { content: ', '; margin-right: 5px; }
    &:last-child:after { content: '' }
    &.label { display: block; color: $grey-medium; font-size: 0.6em; text-transform: uppercase }
    &.label:after { content: ''  }
  }
}


.eg code {
  display: block;
}

.param .group code {
  padding-right: 5px;
  padding-left: 0;
  color: $grey-dark;
}

h2 code {
  color: $grey-dark;
}

// head
#head {
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: 1
}

#overview {
  position: absolute;
  bottom: 0; left: 40px;

  h1 {
    font-size: 6.5vh;
    font-weight: 300;
    margin-bottom: 5vh;


    small {
      color: $grey-dark;
      font-size: 0.5em;
      display: inline-block;
      opacity: .7;
    }
  }
}

#header {
  position: absolute;
  z-index: 3;
  height: 50px; left: 0; right: 0; top: -50px;
  background-color: #fff;
  border-bottom: 1px solid $link;
  transition: top .4s;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;

  font-family: "Roboto Slab", sans-serif;

  .header-left {
    position: absolute;
    top: 0; left: 20px;
  }

  .header-right {
    display: block;
    position: absolute;
    top: 0; right: 20px;
    cursor: pointer;
    color: $link;
  }
  .menu-item {
    display: inline-block;
    font-size: 12px;
    line-height: 50px;
    padding: 0 10px;


    &:hover {
      text-decoration: underline;
    }

    &.homepage {
      font-size: 18px;
    }
  }
}

.sticky-step1 #header {
  position: fixed; top: 0;
}

#pt {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 20vh;
  z-index: 1;

}

#page {
  position: relative;
  z-index: 2;
  background-color: #fff;
  border-top: 1px solid $link;
  margin-top: 100vh;
}


// content
#content {
  margin-left: 300px;
  padding: 30px 50px;
  width: $contentW;

  background-color: #fff;
  transition: background-color .5s;

  section h1 {
    line-height: 1;
  }
}


// Menu
#menu {

  font-family: $sans;
  font-weight: 400;
  float: left;
  margin-top: 100px;
  width: $menuW; height: 2500px;
  padding: 30px;
  background-color: #fff;
  position: relative;

  transition: background-color .5s, margin-top .5s;

  font-size: 1.3em;
  line-height: 1.5;

  > ul {
    width: 120px;
    overflow-x: hidden;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;
      list-style: none;
    }


    &.depth-1 { margin: 10px 0; border-left: 1px solid #ddd; padding-left: 10px; font-weight: 400;}
    &.depth-0 > li { margin: 10px 0; font-weight: 700; }
    &.depth-2 > li { margin: 15px 0; font-weight: 400;}
  }

  a {
    color: $link-menu;
    text-decoration: none;
    &:hover { color: $link; }
  }


  #submenu {
    position: absolute;
    top: 30px;
    left: 150px;
    width: 150px;
    padding: 10px 5px 20px 20px;

    border-left: 1px solid $link;
    font-weight: 400;
    font-size: 0.85em;

    .subsection {
      margin-bottom: 30px;
      overflow-x: hidden;
    }

    .subitem {
      display: block;
      margin-bottom: 5px;
    }

    h4 {
      text-transform: uppercase;
      font-weight: 400;
      color: $grey-medium;
      margin: 0 0 10px;
    }
  }
}


.sticky-step1 #menu {
  position: fixed;
  top: 50px; left: 0px; bottom: 0px; height: auto;

  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 0;
}




.sticky-step1 #pt {
  position: fixed;
  display: none;
  //left: $contentW + $menuW;
}

#mask {
  position: absolute;
  z-index: 1;
  top: 0; left: 0%; right: 0; bottom: 0;
  background: #fff;
  transition: right .3s;
  display: none;
}


.sticky-step1 #mask {
  display: block;
}

.sticky-step1 .active #mask {
  right: 100%;
}

#header #mobile.menu-item {
  display: none;
  font-size: 18px;
}

@media only screen and (max-device-width : 768px) {

  #pt {
    background: url("../images/pt/rectangle.resizeCenterTo.png") no-repeat center center;
    background-size: cover;
  }

  #demo {
    display: none;
  }

  #header #mobile.menu-item {
    display: inline-block;
    font-size: 30px;
    line-height: 70px;
  }

  #header {
    height: 70px;
    .menu-item {
      font-size: 20px;
      line-height: 70px;
      &.homepage {
        font-size: 30px;
      }
    }

  }

  #menu, .sticky-step1 #menu {
    position: fixed;
    right: -1000px; left: auto;
    background: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,.1);

    &.show {
      display: block;
      right: 0; top: 50px;
      z-index: 100;

    }
  }

  #content {
    margin: 0px;
    padding: 30px 10vw;
    width: 100%;
    box-sizing: border-box;
  }

  section .demo {
    position: relative; top: auto; left: auto; right: auto;
    margin: 30px 0;
  }
}


@media only screen and (min-width : 768px) and (max-width : 1140px) {
  section .demo {
    position: relative; top: auto; left: auto; right: auto;
    margin: 30px 0;
  }
}