$link: #334fff;
$link-hover: #4a11df;
$link-menu: #345;
$link-hover: darken( $link, 15 );
$grey-medium: #89a;
$grey-dark: #678;

$bg: #f1f3f7;

$sans:  'Helvetica Neue', Helvetica, sans-serif;
$slab: "Roboto Slab", sans-serif;
$monospace: 'Inconsolata', monospace;


body {
  font-size: 14px;
  line-height: 1.5;
  font-family: $sans;
}

h1, h2, h3 {
  font-family: $slab;
}

h1 {
  font-weight: 300;
  color: $link;
  font-size: 3.2em;
  margin: 1em 0 1.5em 0;
}

h3 {
  font-weight: 600;
  font-size: 1.6em;
  margin-top: 2em;
}

p {
  margin-bottom: 1.5em;
}

code, pre {
  font-family: $monospace;
  font-weight: 600;
}


a {
  color: $link;
  text-decoration: none;
}

a:hover { color: $link-hover; }

#menu {
  position: fixed;
  top: 60px; left: 0; padding: 40px;
  width: 200px;

  > div {
    margin-bottom: 15px;
  }

  .guide {
    padding: 5px;
    border-left: 2px solid $link;
    color: $link;
    padding-left: 15px;

    font-family: $slab;
    font-weight: 500;
    font-size: 1.2em;

    &:hover {
      border-left-color: $link-hover;
      color: $link-hover;
    }

    &.selected, &.migration.selected {
      border-left-color: #ff2d5d;
      color: #ff2d5d
    }

    &.migration {
      border-left: 2px solid $grey-dark;
      color: $grey-dark;
    }
  }
}

#content {
  margin-left: 250px;
  max-width: 600px;
  margin-top: 80px;
  margin-bottom: 200px;
}

#header {
  position: fixed;
  z-index: 3;
  height: 50px; left: 0; right: 0; top: 0px;
  background-color: #fff;
  border-bottom: 1px solid $link;
  transition: top .4s;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;

  font-family: "Roboto Slab", sans-serif;

  .header-left {
    position: absolute;
    top: 0; left: 20px;
  }

  .header-right {
    display: block;
    position: absolute;
    top: 0; right: 20px;
    cursor: pointer;
    color: $link;
  }
  .menu-item {
    display: inline-block;
    font-size: 12px;
    line-height: 50px;
    padding: 0 10px;


    &:hover {
      text-decoration: underline;
    }

    &.homepage {
      font-size: 18px;
    }
  }
}

#header #mobile.menu-item {
  display: none;
  font-size: 18px;
}


@media only screen and (max-device-width : 768px) {

  #header {
    height: 70px;
    .menu-item {
      font-size: 20px;
      line-height: 70px;
      &.homepage {
        font-size: 30px;
      }
    }
  }

  #menu {
    width: 30%;
  }

  #content {
    margin-right: 0;
    margin-left: 30%;
    width: 70%;
  }
}

// Prism code style overrides
:not(pre) > code[class*="language-"], pre[class*="language-"] {
  background-color: $bg;
  margin-bottom: 1.8em;

  // quick visual workaround on the extra line on <pre> in generated markdown
  padding: 1.5em;

}

code[class*="language-"], pre[class*="language-"] {
  text-shadow: none;
  font-weight: 400;
  font-size: 12px;
}

.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string {
  background: transparent;
}
